{
  "trello": {
    "key": "kittens123",
    "board": "https://trello.com/b/sGyRPlQ0/frog-beer"
  },
  "github": {
    "repo": "https://github.com/pketh/frog-beer",
    "issues": "https://github.com/pketh/frog-beer/issues"
  },
  "couch-dev": {
    "host": "localhost",
    "port": 5984,
    "db": "tadpole"
  },
  "couch-prod": {
    "host": "something.couchbase",
    "port": 1234,
    "db": "frog-beer-production"
  }
}