{
  "trello": {
    "key": "kittens123",
    "board": "https://trello.com/b/sGyRPlQ0/frog-beer"
  },
  "github": {
    "repo": "https://github.com/pketh/frog-beer",
    "issues": "https://github.com/pketh/frog-beer/issues"
  },
  "storeDev": {
    "host": "http://127.0.0.1",
    "port": 5984,
    "people": "frog-people-db",
    "topics": "frog-topics-db",
    "art": "frog-art-db"
  },
  "storeProd": {
    "host": "something.couchbase",
    "port": 1234,
    "people": "frog-people-db",
    "topics": "frog-topics-db",
    "art": "frog-art-db"
  }
}
