extends index

block content
  section.intro
    h2.instructions Frog Beer
    ul.instructions-list
      li= 'draw this week’s '
        a(href=trello.board) topic
      li see what everyone else drew next week
      li repeat ↩︎

  section.this-week.draw
    h2 This Week
    p.topic= topic

  section.palette
    ul.colors
      li.color.blank
      li.color.white
      li.color.palette-color.active
      li.color.palette-color
      li.color.palette-color
      li.color.palette-color
      li.color.shuffle(title="shuffle") (/・・)ノ

  section.drawing
    - var rows = 20
    while rows > 0
      .row
        - rows--
        - var pixels = 20
        while pixels > 0
          .pixel
          - pixels--

  canvas#canvas(width='400' height='400')

  section.save-drawing
    p.primary-button.save-button Share Masterpiece →

  section.drawing-saved
    p.saved-notice Saved!
    p.saved-message Next week, you’ll get an email with everyone else’s drawings, and a new topic.
    p.primary-button.draw-another Draw Another ↩︎

  section.tips
    img(src='img/keys.svg' class='keys-icon')
    p 1-6 for colors. 7 for palettes.

  section.last-week
    h2 Last Week
    p.topic= lastTopic

    ul.last-week
      li
        img(src='img/3.png' data-user="Monet" class='art' width='80' height='80')
      li
        img(src='img/1.png' data-user="Pablo" class='art' width='80' height='80')
