if trello && github
  footer
    p
      a(href=trello.board class='secondary-link') Contribute Topics
    p
      a(href=github.repo class='secondary-link') Github

script(src='/js/jquery.min.js')
script(src='/js/lodash.min.js')
script(src='/js/js.cookie.js')
if contentPage
  script(src='/js/draw.js')
  script(src='/js/account.js')
else if signOutPage
  script(src='/js/sign-out.js')
else if signUpInPage
  script(src='/js/sign-up-in.js')
else if unsubscribePage
  script(src='/js/unsubscribe.js')
