- frog = "https://s3.amazonaws.com/frog-beer/frog.png"
- frog2x = "https://s3.amazonaws.com/frog-beer/frog2x.png"

header
  div.frog
    a(href='/')
      img(src=frog srcset="#{frog2x} 2x")
  if isSignedIn
    .user
      span.greeting
      span &nbsp;
      span.user-name
      span &nbsp;–&nbsp;
      a(href='/sign-out').secondary-link.sign-out sign out
  else if contentPage
    a(href='/sign-up-in').user.secondary-link.sign-up-in Sign up or in
