extends template

block content
  header
    [frog]

  h2 How it works
  ul.instructions
    li draw this week’s theme
    li see what everyone else drew next week
    li repeat

  // p Welcome to #{title}
  section.this-week
    h2 Draw
    p.topic Prarie Dogs on a Tea-Party Acid Trip
    ul
      li Draw!
      li [{drawing}s]
      li [etc.]

  section.last-week
    h2 Last Week
    p Good Times with LEGO

    ul.last-week
      li LEGOoO
      li [old-drawings]
      li [old-etc.]
