extends template

block content
  header
    div.frog [frog]

  section.intro
    h2.instructions How it works
    ul.instructions-list
      li draw this week’s theme
      li see what everyone else drew next week
      li repeat
    p.sign-up
      a(href='#' class='primary') Sign up or in

  section.this-week
    h2 Draw
    p.topic= topic
    ul
      li + Draw!
      li 2nd and on are ..
      li drawings from ..
      li array.

  section.last-week
    h2 Last Week
    p Good Times with LEGO

    ul.last-week
      li LEGOoO
      li [old-drawings]
      li [old-etc.]
