extends index

block content
  section.signup
    h1 ribbit
    p.intro Welcome, friend of frogs.
    form.sign-up(action='/sign-up' method='post')
      input(name='email' placeholder='email' type='email' maxlength='100')
      input(name='nickname' placeholder='nickname' type='text' maxlength='100')
      input(value='submit' type='submit' class='submit')

  section.signup-success.hidden
    h1 You've got mail!
    .instructions
      p= 'Dear '
        span.email-output nickname
        span ,
      p A slightly swampy email should arrive real soon. Click the link inside that email and you’ll be signed right in.
      p Yours sincerely,
      p – All frogs, everywhere.
