@require 'normalize'
@require 'globals'
@require 'header'

body
  background-color: black
  color: white
  font-family: menlo
  padding-top: 5rem
  padding-left: 3rem
  padding-right: 3rem
  padding-bottom: 2rem
  height: 100%

section,
header,
footer
  margin-bottom: 0
  padding-bottom: 3rem

header
  margin-top: 0
  margin-bottom: 20px
  a
    text-decoration: none

h2
  font-size: 16px
  margin-top: 30px
  margin-bottom: 5px

.topic
  font-family: plantin
  font-size: 36px

p
  font-size: 16px
  max-width: 500px
  color: white

.nickname
  text-transform: capitalize

.signature
  font-style: italic

a
  font-size: 16px
  cursor: pointer
  color: action
  display: inline-block
  text-decoration: underline
  &:hover,
  &:active
    text-decoration: none

.last-week
  h2
    margin-bottom: 8px
  .topic
    font-size: 28px
  li
    display: inline
    margin: 0
  .drawing
    margin-top: 15px
    margin-right: 15px

hr
  border: none
  height: 1px
  background-color: secondary
  margin-top: 35px
  margin-bottom: 35px

footer
  padding-bottom: auto
  background-color: black
  p
    font-size: 14px
    color: secondary
  a
    font-size: 14px
