secondary = #858585
tertiary = #404040
menlo = Menlo, Monaco, monospace
plantin = "Plantin", Serif
plantin-book = '../fonts/mplantin-light'
plantin-italics = '../fonts/mplantin-lightitalic'

@font-face
  font-family: 'Plantin'
  src: url(plantin-book + '.eot')
  src: url(plantin-book + '.eot?#iefix') format('embedded-opentype'),
       url(plantin-book + '.woff') format('woff'),
       url(plantin-book + '.ttf') format('truetype'),
       url(plantin-book + '.svg#webfont') format('svg')

@font-face
  font-family: 'Plantin'
  font-style: italic
  src: url(plantin-italics + '.eot')
  src: url(plantin-italics + '.eot?#iefix') format('embedded-opentype'),
       url(plantin-italics + '.woff') format('woff'),
       url(plantin-italics + '.ttf') format('truetype'),
       url(plantin-italics + '.svg#webfont') format('svg')

html
  font-size: 62.5%
  background-color: black
  color: white
  font-family: menlo

body
  font-size: 1.6rem
  max-width: 800px
  padding-left: 3rem
  padding-right: 3rem
  margin-left: auto
  margin-right: auto

a
  color: white
  text-decoration: none

section,
footer
  margin-bottom: 8rem

h1
  font-family: plantin

pre
  font-size: 1.9rem
  line-height: 3rem
  word-wrap: break-word

h2
  font-weight: normal
  color: secondary
  font-size: 1.6rem
  margin-bottom: 0.4rem

ul
  padding-left: 0

li
  list-style: none
  img
    image-rendering: crisp-edges
    image-rendering: pixelated

.topic
  font-family: plantin
  font-style: italic
  margin-top: 0

footer
  p
    margin-bottom: 2rem
  a
    color: secondary
    border-bottom: 1px secondary solid
    &:hover
      border-bottom: none
