section.signup
  .intro
    margin-bottom: 2em
  input
    display: block
    border: 2px tertiary solid
    background-color: black
    border-radius: 5px
    padding: 10px
    margin-bottom: 1rem
    width: 30rem
    &:focus
      outline: none
      border-color: white
    &.error
      border-color: error
  .submit
    background-color: white
    border-color: white
    color: black
    &:focus
      outline: initial
    &:active
      background-color: rgba(255,255,255,0.8)
  .sign-up-in
    margin-top: 2em
