@require 'fonts'

secondary-text = #858585

html
  font-size: 62.5%;
  background-color: black
  color: white
  font-family: menlo

body
  font-size: 1.6rem
  max-width: 775px
  padding-left: 1.5rem
  padding-right: 1.5rem
  margin-left: auto
  margin-right: auto

h2
  font-weight: normal
  color: secondary-text
  font-size: 1.6rem



// font-family: plantin
// font-size: italic
