@font-face {
  font-family: 'Plantin';
  src: url("../fonts/mplantin-light.eot");
  src: url("../fonts/mplantin-light.eot?#iefix") format('embedded-opentype'), url("../fonts/mplantin-light.woff") format('woff'), url("../fonts/mplantin-light.ttf") format('truetype'), url("../fonts/mplantin-light.svg#webfont") format('svg');
}
@font-face {
  font-family: 'Plantin';
  font-style: italic;
  src: url("../fonts/mplantin-lightitalic.eot");
  src: url("../fonts/mplantin-lightitalic.eot?#iefix") format('embedded-opentype'), url("../fonts/mplantin-lightitalic.woff") format('woff'), url("../fonts/mplantin-lightitalic.ttf") format('truetype'), url("../fonts/mplantin-lightitalic.svg#webfont") format('svg');
}
html {
  font-size: 62.5%;
  background-color: #000;
  color: #fff;
  font-family: Menlo, Monaco, monospace;
}
body {
  font-size: 1.6rem;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #fff;
  text-decoration: none;
}
a.primary {
  border-bottom: 1px #fff solid;
  padding-bottom: 6px;
  -webkit-transition: all 0.1s;
          transition: all 0.1s;
}
a.primary:hover {
  padding-bottom: 4px;
}
section,
footer {
  margin-bottom: 8rem;
}
h1 {
  font-family: "Plantin", Serif;
}
pre {
  font-size: 1.9rem;
  line-height: 3rem;
  word-wrap: break-word;
}
h2 {
  font-weight: normal;
  color: #858585;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
li img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: crisp-edges;
  image-rendering: pixelated;
}
footer p {
  margin-bottom: 2rem;
}
footer a {
  color: #858585;
  border-bottom: 1px #858585 solid;
}
footer a:hover {
  border-bottom: none;
}
header {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
.frog {
  cursor: pointer;
  display: inline-block;
  border-bottom: 0;
}
.frog,
.art {
  -webkit-transition: 0.1s;
          transition: 0.1s;
}
.frog:hover,
.art:hover {
  opacity: 0.8;
}
.instructions-list {
  margin-top: 0;
}
.instructions-list li {
  font-family: "Plantin", Serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.4rem;
}
.topic {
  font-family: "Plantin", Serif;
  font-style: italic;
  margin-top: 0;
}
section.this-week .topic {
  font-size: 4rem;
  line-height: 4.5rem;
}
section.this-week li {
  display: inline-block;
}
section.this-week .art {
  margin-right: 4rem;
  padding-bottom: 2rem;
  cursor: pointer;
}
section.this-week .new {
  padding-right: 4px;
  margin-top: 4px;
}
section.last-week .topic {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
section.last-week li {
  display: inline-block;
}
section.last-week .art {
  margin-right: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
section.draw {
  margin-bottom: 4rem;
}
section.palette {
  margin-bottom: 4rem;
}
section.palette .color {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
  width: 34px;
  height: 34px;
  border-radius: 100px;
  border: 4px solid #000;
  background-color: #ffc0cb;
  -webkit-transition: all 0.1s;
          transition: all 0.1s;
  cursor: pointer;
}
section.palette .color:hover {
  opacity: 0.8;
}
section.palette .active {
  border-color: #fff;
}
section.palette .active:hover {
  opacity: 1;
}
section.palette .blank {
  position: relative;
  background-color: #000;
}
section.palette .blank:before {
  content: " ";
  position: absolute;
  border-radius: 100px;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  border: 2px solid #858585;
}
section.palette .white {
  background-color: #fff;
}
section.palette .shuffle {
  background-color: transparent;
  width: auto;
  vertical-align: 80%;
  color: #858585;
}
section.drawing {
  margin-left: 0.5rem;
  cursor: pointer;
}
section.drawing .row {
  overflow: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
section.drawing .pixel:last-child {
  border-right: 1px #404040 solid;
}
section.drawing :last-child .pixel {
  border-bottom: 1px #404040 solid;
}
section.drawing .pixel {
  width: 28px;
  height: 28px;
  display: inline-block;
  border-top: 1px #404040 solid;
  border-left: 1px #404040 solid;
}
