@font-face {
  font-family: 'Plantin';
  src: url("../fonts/mplantin-light.eot");
  src: url("../fonts/mplantin-light.eot?#iefix") format('embedded-opentype'), url("../fonts/mplantin-light.woff") format('woff'), url("../fonts/mplantin-light.ttf") format('truetype'), url("../fonts/mplantin-light.svg#webfont") format('svg');
}
@font-face {
  font-family: 'Plantin';
  font-style: italic;
  src: url("../fonts/mplantin-lightitalic.eot");
  src: url("../fonts/mplantin-lightitalic.eot?#iefix") format('embedded-opentype'), url("../fonts/mplantin-lightitalic.woff") format('woff'), url("../fonts/mplantin-lightitalic.ttf") format('truetype'), url("../fonts/mplantin-lightitalic.svg#webfont") format('svg');
}
html {
  font-size: 62.5%;
  background-color: #000;
  color: #fff;
  font-family: Menlo, Monaco, monospace;
}
body {
  font-size: 1.6rem;
  max-width: 800px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto;
}
a {
  color: #fff;
  text-decoration: none;
}
a.primary {
  border-bottom: 1px #fff solid;
  padding-bottom: 6px;
  -webkit-transition: all 0.1s;
          transition: all 0.1s;
}
a.primary:hover {
  padding-bottom: 4px;
}
header {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
section,
footer {
  margin-bottom: 8rem;
}
h2 {
  font-weight: normal;
  color: #858585;
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}
ul {
  padding-left: 0;
}
li {
  list-style: none;
}
li img {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-crisp-edges;
      image-rendering: crisp-edges;
  image-rendering: pixelated;
}
.instructions-list {
  margin-top: 0;
}
.instructions-list li {
  font-family: "Plantin", Serif;
  font-style: italic;
  font-size: 2rem;
  line-height: 2.4rem;
}
.topic {
  font-family: "Plantin", Serif;
  font-style: italic;
  margin-top: 0;
}
section.this-week .topic {
  font-size: 4rem;
  line-height: 4.5rem;
}
section.this-week li {
  display: inline-block;
}
section.this-week .art {
  margin-right: 4rem;
  padding-bottom: 2rem;
  cursor: pointer;
}
section.last-week .topic {
  font-size: 3.2rem;
  line-height: 3.6rem;
}
section.last-week li {
  display: inline-block;
}
section.last-week .art {
  margin-right: 1.5rem;
  padding-bottom: 1.5rem;
  cursor: pointer;
}
footer p {
  margin-bottom: 2rem;
}
footer a {
  -webkit-transition: all 0.1s;
          transition: all 0.1s;
}
footer a:hover {
  border-bottom: 1px #fff solid;
}
