doctype html
html
  head
    title= '@subject'
    meta(name='viewport' width='device-width' initial-scale='1')
    meta(http-equiv='Content-Type' content='text/html' charset='UTF-8')
    style
      include ../../public/css/emails.css
  body
    include ../header

    section.hey
      p white background version..
      p need hardcoded paths
      p hey! I'm an email
      p need to inline the css ...
      p no scripts.
      p cta

    include ../footer

    div unsubscribe from weekly topic emails link here w hardcoded route and query. /unsubscribe?=pirijan@gmail.com
    div page contains... Unsubscribed! come back soon.. new topics happen every week, you can still draw things
