footer
  hr
  div unsubscribe from weekly topic emails link here w hardcoded route and query. /unsubscribe?=pirijan@gmail.com
  // div page contains... Unsubscribed! come back soon.. new topics happen every week, you can still draw things
  div contact me direct at hi@pketh.org
