extends index

block draw
  section.intro
    h2.instructions Frog Beer
    ul.instructions-list
      li draw this week’s theme
      li see what everyone else drew next week
      li repeat ↩︎

  section.this-week.draw
    h2 This Week
    p.topic= topic

  section.palette
    ul.colors
      li.color.blank
      li.color.white
      li.color.palette-color.active
      li.color.palette-color
      li.color.palette-color
      li.color.palette-color
      li.color.shuffle(title="shuffle") (/・・)ノ

  section.drawing
    - var rows = 20
    while rows > 0
      .row
        - rows--
        - var pixels = 20
        while pixels > 0
          .pixel
          - pixels--

  section.save-drawing
    p.save-button Share Masterpiece →

  section.tips
    img(src='img/keys.svg' class='keys-icon')
    p 1-6 for colors

  section.last-week
    h2 Last Week
    p.topic= lastTopic

    ul.last-week
      li
        img(src='img/3.png' data-artist="Monet" class='art' width='80' height='80')
      li
        img(src='img/1.png' data-artist="Pablo" class='art' width='80' height='80')
