extends template

block content
  section.this-week
    h2 Draw
    p.topic Prarie Dogs on a Tea-Party Acid Trip

  section.palete
    ul.colors
      li.color.blank blank
      li.color.white white
      li.color hi

  section.drawing
    p grid goes here
// in drawing ul rows and li cells
// each cell has data-color-code=0[]