extends template

block content
  section.this-week.draw
    h2 Draw
    p.topic= topic

  section.palette
    ul.colors
      li.color.blank
      li.color.white
      li.color.palette-color.active
      li.color.palette-color
      li.color.palette-color
      li.color.palette-color
      li.color.shuffle(title="shuffle") (/・・)ノ



  section.drawing
    p grid goes here
// in drawing ul rows and li cells
// each cell has data-color-code=0[]

