extends template

block content
  section.this-week.draw
    h2 Draw
    p.topic= topic

  section.palette
    ul.colors
      li.color.blank
      li.color.white
      li.color.palette-color.active
      li.color.palette-color
      li.color.palette-color
      li.color.palette-color
      li.color.shuffle(title="shuffle") (/・・)ノ

  section.drawing
    - var rows = 20
    while rows > 0
      .row
        - rows--
        - var pixels = 20
        while pixels > 0
          .pixel
          - pixels--
