header
  div.frog
    a(href='/')
      img(src='img/frog.png' srcset='img/frog@2x.png 2x')
  if hasLoginToken
    p.artist @username –
    span.secondary-link.log-out sign out
  else if contentPage
    a(href='/hello').artist.secondary-link.sign-up-in Sign up or in
