extends template

block content
  section.intro
    h2.instructions Frog Beer
    ul.instructions-list
      li draw this week’s theme
      li see what everyone else drew next week
      li repeat ↩︎
    // wrap in jade if statement (if user.authorized)
    p.sign-up
      a(href='#' class='primary') Sign up or in

  section.this-week
    h2 This Week
    p.topic= topic
    ul
      li
        a(href="/draw")
          img(src='img/new.svg' class='new art')
      li
        img(src='img/2.png' data-artist="Pablo" class='art' width='120' height='120')
      li
        img(src='img/4.png' data-artist="Flore" class='art' width='120' height='120')

  section.last-week
    h2 Last Week
    p.topic Good Times with LEGO

    ul.last-week
      li
        img(src='img/3.png' data-artist="Monet" class='art' width='80' height='80')
      li
        img(src='img/1.png' data-artist="Pablo" class='art' width='80' height='80')

  footer
    p
      a(href=trello.board) Upcoming Topics
    p
      a(href=github.repo) Github
