script(type='text/javascript').
  var palettes = !{JSON.stringify(palettes)};
doctype html
html
  head
    title= title
    meta(name='description')= description
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon' href='/favicon.ico?v=2' type='image/x-icon')
  body
    include header
    block draw
    include footer
