extends index

block content
  section.signup
    h1 ribbit
    p.intro Welcome, friend of frogs.
    form.sign-up(action='/sign-up' method='post')
      input(name='email' placeholder='email' type='email' maxlength='100')
      input(name='nickname' placeholder='nickname' type='text' maxlength='100')
      input(value='submit' type='submit' class='submit')
    p.sign-up-in
      a(href="/sign-in" class="secondary-link") or Sign in

  section.signup-success.hidden
    h1 Email en route
    .instructions
      p= 'Dear '
        span.email-output nickname
        span ,
      p A slightly damp email should arrive real soon.
      p Yours sincerely,
      p – All frogs, everywhere.
