script(type='text/javascript').
  var palettes = !{JSON.stringify(palettes)};
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon' href='/favicon.ico?v=2' type='image/x-icon')
  body
    header
      div.frog
        a(href='/')
          img(src='img/frog.png' srcset='img/frog@2x.png 2x')
    block content
  script(src='/js/jquery.min.js')
  script(src='/js/lodash.min.js')
  script(src='/js/frog-beer.js')
